<body>
    <header class="hero is-warning is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-utensils"></i> Online Ordering System
                </h1>
            </div>
        </div>
        <!--Navigation bar-->
        <nav class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <!--Login button-->
                    <a class="button" id="loginButton" href="/login">
                        <span>Login</span>
                    </a>
                </p>
                <p class="control">
                    <!--Home button-->
                    <a class="button" id="registerNavButton" href="/">
                        <span>Home</span>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="section">
            <h2>Begin the search for your next meal...</h2>
            <div>
                <br>
                <div class="field">
                    <!--Input feild-->
                    <label class="label is-size-4">Enter your city: </label>
                    <input class="input" id="inputCity" type="text">
                </div>
                <!--Search button-->
                <div class="buttons">
                    <button class="button is-warning searchCity">Search</button>
                </div>
            </div>
        </div>
    </main>
</body>