<body>
    <header class="hero is-warning is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-utensils"></i> Online Ordering System
                </h1>
                <h2 class="subtitle">
                    <!--Sub-title????-->
                </h2>
            </div>
        </div>
        <!--Navigation bar-->
        <nav class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <!--Login button-->
                    <a class="button" id="loginButton" href="/login">
                        <!--TODO: create routes-->
                        <span>Login</span>
                    </a>
                </p>
                <p class="control">
                    <!--Register button-->
                    <a class="button" id="registerNavButton" href="/register">
                        <!--TODO: create routes-->
                        <span>Register</span>
                    </a>
                </p>
                <p class="control">
                    <!--Home button-->
                    <a class="button" id="registerNavButton" href="/">
                        <!--TODO: create routes-->
                        <span>Home</span>
                    </a>
                </p>
            </div>
        </nav>
    </header>

    <main class="columns">
        <!--User login-->
        <form class="section">
            <h2>Enter login details:</h2>
            <div class="container">
                <!--Username-->
                <div class="field">
                    <label class="label">Username:</label>
                    <input class="input" type="text" id="loginUsername">
                </div>
                <!--Password-->
                <div class="field">
                    <label class="label">Password:</label>
                    <input class="input" type="password" id="loginPassword">
                </div>
            </div>
            <!--Submit button-->
            <submit class="button is-warning">Submit</submit>
        </form>
    </main>

</body>