<body>
    <header class="hero is-warning is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <i class="fas fa-utensils"></i> Online Ordering System
                </h1>
            </div>
        </div>
        <!--Navigation bar-->
        <nav class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <!--Login button-->
                    <a class="button" id="loginButton" href="/login">
                        <span>Login</span>
                    </a>
                </p>
                <p class="control">
                    <!--Home button-->
                    <a class="button" id="registerNavButton" href="/">
                        <span>Home</span>
                    </a>
                </p>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="columns">
            <!--User to enter registration details-->
            <form class="section">
                <h2>Enter registration details</h2>
                <div class="container">
                    <div class="field">
                        <!--First Name-->
                        <label class="label">First Name:</label>
                        <div class="control">
                            <input class="input" type="text" id="createFirstName">
                        </div>
                    </div>
                    <!--Last Name-->
                    <div class="field">
                        <label class="label">Last Name:</label>
                        <input class="input" type="text" id="createLastName">
                    </div>
                    <!--Username-->
                    <div class="field">
                        <label class="label">Username:</label>
                        <input class="input" type="text" id="createUsername">
                    </div>
                    <!--Password-->
                    <div class="field">
                        <label class="label">Password:</label>
                        <input class="input" type="password" id="createPassword">
                    </div>
                </div>
                <!--Submit button-->
                <submit class="button is-warning" id="registerSubmit">Submit</submit>
            </form>
        </div>
    </main>

</body>