.title {
  font-size: 75px;
}
h2 {
  font-size: 50px;
}

.section {
  display: inline-block;
  margin: auto;
}

nav {
  float: right;
}

ol {
  background-color: rgba(255, 238, 0, 0.842);
}

ol li:hover {
  background-color: rgb(212, 193, 16);
}

.container {
  margin-left: 100px;
}

.subtotal {
  color: blue;
}
.total {
  color: green;
}

.itemId {
  color: white;
}

#restName {
  margin-left: 220px;
}

#orderId {
  margin-left: -80px;
}

#itemId {
  color: black;
}

.restaurant {
  margin-right: 50px;
}
